# elisp cache
cache/*
!cache/.gitkeep
.cache/*
eln-cache/*

# elisp files for each emacs version
v[0-9.]*/

# env depend file
*elc

# tempfile
*~
tramp
/.lsp-session-v1

# ignore custom.el for package-selected-packages
/custom.el

# python venv
/.python-environments
